
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */
.col img {
  float: left;
  width: 100px;
  height: 100px;
}

.col h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  color: rgb(222,180,222);
  position: relative;
  top: 18px;
  left: 10px;
}
